.eventocard {
    
    margin: 10px solid rgb(177, 177, 234) !important;
}

.eventobodycard {
    background-color: rgb(158, 223, 225);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-title {
    font-weight: bold;
    font-size: 16px;
}

body {
    background: linear-gradient(to bottom, #ffffff, #fbffcf);
    background-color: aquamarine;
}

.imgevento {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.titulomalo {
    font-size: 150%;
    margin-left: 5%;
    /*width: 100%;*/
}

.divtitulom {
    width: 100%;
}