
.custom-navbar {
  background-color: #085394;
  }
.color-tittle{
  color: #ffffff !important; /* Cambiar el color del texto a blanco */

}
.img-dimesiones{
  width: 100%; /* La imagen ocupará el 100% del ancho del contenedor */
    height: auto; /* La altura se ajustará automáticamente para mantener la relación de aspecto original */
    object-fit: cover;
}
.gradient-custom {
  /* fallback for old browsers */
  background: #6a11cb;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
  }


/* Estilos para el pie de página (footer) */
footer {
    background-color: #134f5c;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}