
.custom-navbar {
  /*background-color: #085394 !important;*/
  background: linear-gradient(to bottom, #085394, #007CB4);
  color:#fff !important;
  height: 40%;
  }
.color-tittle{
  color: #ffffff !important; /* Cambiar el color del texto a blanco */

}
.img-dimesiones{
  width: 100%; /* La imagen ocupará el 100% del ancho del contenedor */
    height: auto; /* La altura se ajustará automáticamente para mantener la relación de aspecto original */
    object-fit: cover;
}
.gradient-custom {
  /* fallback for old browsers */
  background: #6a11cb;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
  }

  * {
    margin:0;
    padding:0;
  }
  
  body {
    background:#e1e1e1;
  }
  
  .header {
    background:#fff;
    box-shadow:0 2px 5px rgba(0,0,0,0.2);
    padding: 15px 20px;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:9;
  }
  
#titulo{
  padding: 1%;
  font-family: "Times New Roman", "Lucida", "Verdana";
}

#navbarNav{
  padding-top: 4%;
}
.nav-link{
  color: #fff !important;
}
.nav-link:hover{
  color: #ffa !important;
}

#sidebarTitulo{
  font-family: "Verdana", "Serif";
}


  button {
    background:transparent;
    border:none;
    width:30px;
    height:30px;
    cursor:pointer; 
    outline:0;
  }
/**********************************************/
body {
  position: relative;
  overflow-x: hidden;
  background-color: #CFD8DC;
}
body,
html { height: 100%;}
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {background-color: transparent;}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 185px;
}

#sidebar-wrapper {
  z-index: 1000;
  left: 185px;
  width: 0;
  height: 100%;
  margin-left: -220px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #085394;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
display: none;
}

#wrapper.toggled #sidebar-wrapper {
  width: 220px;
}

#page-content-wrapper {
  width: 100%;
  padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.navbar {
padding: 3%;
height: 6s0%;
}


.sidebar-nav {
  position: absolute;
  top: 0;
  width: 220px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  position: relative; 
  line-height: 20px;
  display: inline-block;
  width: 100%;
}

.sidebar-nav li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 3px;
  background-color: #085394;
  -webkit-transition: width .2s ease-in;
    -moz-transition:  width .2s ease-in;
     -ms-transition:  width .2s ease-in;
          transition: width .2s ease-in;

}
.sidebar-nav li:hover{
background: #FDBA31 !important;
border-radius: 10px;
margin-left: 10px;
margin-right: 10px;
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
  width: 100%;
  -webkit-transition: width .2s ease-in;
    -moz-transition:  width .2s ease-in;
     -ms-transition:  width .2s ease-in;
          transition: width .2s ease-in;

}
.btn-color{
  background: #FDBA31 !important;
}
.color-letra{
  color: #ddd !important;
}
.sidebar-nav li a {
  display: block;
  color: #ddd;
  text-decoration: none;
  padding: 10px 15px 10px 30px;    
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}
.sidebar-header {
  text-align: center;
  font-size: 20px;
  position: relative;
  width: 100%;
  display: inline-block;
}
.sidebar-brand {
  height: 65px;
  position: relative;
  background:#085394;
  background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
 padding-top: 1em;
}
.sidebar-brand a {
  color: #ddd;
}
.sidebar-brand a:hover {
  color: #fff;
  text-decoration: none;
}
.dropdown-header {
  text-align: center;
  font-size: 1em;
  color: #ddd;
  background:#085394;
  background: linear-gradient(to right bottom, #085394 50%, #085394 50%);
}
.sidebar-nav .dropdown-menu {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  background-color: #085394;
  box-shadow: none;
}
.dropdown-menu.show {
  top: 0;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger { position: fixed; top: 20px;  z-index: 999; display: block; width:
 32px; height: 32px; margin-left: 15px; background: transparent; border:
 none; }
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
outline: none;
}
.hamburger.is-closed:before {
content: '';
display: block;
width: 100px;
font-size: 14px;
color: #fff;
line-height: 32px;
text-align: center;
opacity: 0;
-webkit-transform: translate3d(0,0,0);
-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
opacity: 1;
display: block;
-webkit-transform: translate3d(-100px,0,0);
-webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
position: absolute;
left: 0;
height: 4px;
width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
background-color: #ffffff;
}
.hamburger.is-closed .hamb-top { 
top: 5px; 
-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
top: 50%;
margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
bottom: 5px;  
-webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
top: 0;
-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
bottom: 0;
-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
background-color: #ffffff;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
top: 50%;
margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
-webkit-transform: rotate(45deg);
-webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
-webkit-transform: rotate(-45deg);
-webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
content: '';
display: block;
width: 100px;
font-size: 14px;
color: #fff;
line-height: 32px;
text-align: center;
opacity: 0;
-webkit-transform: translate3d(0,0,0);
-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
opacity: 1;
display: block;
-webkit-transform: translate3d(-100px,0,0);
-webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/




footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.contact-icons {
  font-size: 24px;
  margin: 10px;
}

.contact-icons a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333; /* Cambia esto al color que desees */
  color: #fff; /* Color del texto */
  text-align: center;
  
  padding: 10px; /* Espacio alrededor del pie de página */
}

.social-icon {
  margin: 0 10px; /* Ajusta el margen según tu preferencia */
  color: #fff; /* Color de los iconos */
  font-size: 24px; /* Tamaño de fuente de los iconos */
}
.header-bg {
  /*background-image: url('/images/Min-fcyt.jpg'); /* Ruta a tu imagen de fondo */
  /*background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el encabezado */
  /*background-position: center; /* Centra la imagen en el encabezado */
  /*color: #fff; /* Color del texto */
  height: 300px;
}
/* Estilo para las diapositivas del carrusel */
#slide1 .carousel-background {
  background-image: url('/images/Min-fcyt.jpg');
}

#slide2 .carousel-background {
  background-image: url('/images/eventos.jpg');
}

#slide3 .carousel-background {
  background-image: url('/images/imagen3.jpg');
}

.carousel-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
}
/* Estilo para el contenedor principal */
.container-flex {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Estilo para el contenido principal (flex-grow) */
.container-flex > * {
  flex: 1;
}

.dimensiones{
  height: 200px;
}

.titulomalo {
  font-size: 150%;
  margin-left: 5%;
  width: 100%;
}

.divtitulom {
  width: 100%;
}

.dropdown-item:hover{
  background-color:#FDBA31 !important;
}